<%= form_with model: comment, url: course_comments_path(course), id: "comment-form" do |f| %>
  <%= f.text_area :body, placeholder: t('courses.show.comment'), rows: 3, class: "textarea rounded-lg bg-slate-100 w-full" %>

  <div class="flex justify-end">
    <%= f.submit t('courses.show.comment_create'), class: "btn btn-primary rounded-lg text-white" %>
  </div>
<% end %>
