<% if flash.any? %>
	<div class="container mx-auto w-5/6">
		<% flash.each do |type, message| %>
			<div class="<%= flash_style(type) %> p-4 mt-4 rounded-md shadow-md">
				<span><%= message %></span>
			</div>
		<% end %>
		</div>
<% end %>
