<header>
  <div class="navbar bg-base-100 border-b-2 border-neutral">
    <div class="flex-1 px-2 lg:flex-none">
      <%= link_to '/', class: "text-lg font-bold" do %>
        LOGO
      <% end %>
    </div>
    <div class="flex flex-1 justify-end px-2">
      <div class="flex items-stretch">
        <%= link_to 'コース一覧', '#', class: "btn btn-ghost"%>

        <%# ログイン済みユーザー向け %>
        <%= link_to 'コース作成', '#', class: "btn btn-ghost"%>
        <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-ghost"%>
      </div>
    </div>
  </div>
</header>