<% if user_signed_in? %>
  <% if course.liked_by?(current_user) %>
    <%= link_to like_path(current_user.likes.find_by(course_id: course.id)), data: { turbo_method: "delete" } do %>
      <span class="material-icons text-red-300">favorite</span>
    <% end %>
  <% else %>
    <%= link_to course_likes_path(course), data: { turbo_method: "post" } do %>
      <span class="material-icons text-red-300">favorite_outline</span>
    <% end %>
  <% end %>
  <span class="text-xs text-gray-400"><%= course.likes.size %></span>
<% else %>
  <span class="material-icons text-red-300">favorite_outline</span>
  <span class="text-xs text-gray-400"><%= course.likes.size %></span>
<% end %>
