<% if user_signed_in? %>
  <% if course.liked_by?(current_user) %>
    <%= render "like", course: course %>
  <% else %>
    <%= render "unlike", course: course %>
  <% end %>
<% else %>
  <span class="material-icons text-red-300">favorite_outline</span>
  <span class="text-xs text-gray-400"><%= course.likes.size %></span>
<% end %>
