<div class="container mx-auto w-5/6 md:max-w-4xl">
  <h1 class="text-2xl mt-8"><%= t('.title') %></h1>

  <!-- 検索フォーム -->
  <div class="mx-auto w-full mt-4">
    <%= render 'search_form', q: @q, url: courses_path %>
  </div>

  <!-- コース一覧 -->
  <div class="flex flex-col">
    <% if @courses.present? %>
      <%= render @courses %>
    <% else %>
      <div class="mt-4">コースがありません</div>
    <% end %>
  </div>

  <!-- ページネーション -->
  <%= paginate @courses %>
</div>
