<div class="container mx-auto pt-4 px-4">
  <h1><%= t('.title') %></h1>

  <!-- 検索フォーム -->
  <div class="mx-auto md:w-1/2 py-4">
    <%= render 'search_form', q: @q, url: courses_path %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <% if @courses.present? %>
      <%= render @courses %>
    <% else %>
      <div class="mt-4">コースがありません</div>
    <% end %>
  </div>
</div>
