<div class="container mx-auto pt-4 px-4">
  <h1><%= t('.title') %></h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <% if @courses.present? %>
      <%= render @courses %>
    <% else %>
      <div class="mt-4">作成されたコースはありません</div>
    <% end %>
  </div>
</div>
