<div class="container mx-auto mt-8 w-5/6">
  <div class="grid grid-cols-1 sm:grid-cols-4 gap-6">  

    <%# コース作成用フォーム %>
    <div class="hidden sm:flex col-span-1">
      <%= render 'course_create_form', model: @course_marker_form %>
    </div>

    <%# マップ %>
    <div class="col-span-3 relative">

      <%# マップ用の検索欄 %>
      <div class="absolute top-8 left-4 z-10 bg-gray-50 bg-opacity-90 p-2 rounded-lg shadow-lg w-full max-w-72 sm:max-w-xs">
        <input id="search-input" type="text" placeholder="検索ワードを入力" class="input input-bordered rounded-lg w-full" />
        <ul id="suggested-locations" class="menu rounded-box w-full"></ul>
      </div>

      <%# マップ %>
      <div class="h-[80vh]">
        <div id="create-map" class="w-full h-full rounded-lg"></div>
      </div>
    </div>

    <%# スマホ用フォーム %>
    <div class="sm:hidden">
      <%= render 'course_create_form', model: @course_marker_form %>
    </div>
  </div>
</div>

<%= javascript_include_tag "gmap", "data-turbo-track": "reload" %>
